* {
	margin-top: 100px; 
	padding: 0px; 
	box-sizing: border-box;
}
#heading{
	font-size:70px;
	margin-top:10px;
	text-align:center;
}
body, html {
	background-color: white;
  margin:0;
	font-family: sans-serif;
	border-style: solid;
	border-style: solid;
}
#option{
	background-color: lightgrey;
	  width: 300px;
	  border: 15px solid green;
	  padding: 50px;
	  margin: 20px;
}
a {
	font-family: Poppins-Regular;
	font-size: 30px;
	line-height: 2.0;
	color: #666666;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #57b846;
}


ul, li {
	margin: 0px;
	list-style-type: none;
}

textarea {
  outline: none;
  border: solid 2px;
}
