* {
	margin:auto;
	padding: 0px; 
	box-sizing: border-box;
}

#form{
	text-align:center;
	margin-left:500px;
}
#heading{
	font-size:70px;
	text-align:center;
}
body, html {
	background-color: white;
  margin:0;
	font-family: sans-serif;
	border-style: solid;
	border-style: solid;
}

#col{
	background-color: lightgrey;
	  width: 300px;
	  border: 5px solid green;
	  padding: 50px;
	  margin: 20px;
	
}
ul, li {
	margin: 0px;
	list-style-type: none;
}

textarea {
  outline: none;
  border: solid 2px;
}
